.container {
  padding: 0 0rem;
}

.searchCenter {
  display: flex;
  align-items: center;
  margin: 1rem;
  text-align: center;
  justify-content: center;
}

.searchPlaceholder {
  width: 1000px;
  border-radius: 20px;
  height: 45px;
}

.buttonSearch {
  margin-left: 1rem;
  background: transparent;
  font-size: 45px;
  border: none;
}

.resumenGrid {
  grid-template-rows: repeat(1);
}

.resumenGrid,
.gridIndex {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 400px);
  /* 3 columns */
  /* 1 rows  */
  grid-gap: 50px 30px;
  margin: 2rem;
  /* 50 pixels of space added between rows and 30 pixels added between columns  */
}

.resumenGridItem {
  color: #00745e;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
}

.gridIndex {
  grid-template-rows: repeat(2, 500px);
  /* 2 rows  */
}

.gridItem {
  border: 1px solid #000;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  position: relative;
  text-align: center;
}

.gridItem img {
  height: 100%;
  width: 360px;
  border-radius: 20px;
}

.textGrid {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #0070f3;
}

.readMore {
  border-radius: 20px;
  background: #00745e;
  color: #fff;
  border-style: none;
  font-family: 'Quicksand';
  width: 130px;
  height: 40px;
}

@media (max-width: 600px) {

  .gridIndex {
    grid-template-columns: repeat(1, 400px) !important;
    /* 3 columns */
    grid-template-rows: repeat(6, 500px) !important;

  }

  .searchPlaceholder {
    width: 300px !important;
  }

}